/.idea
/.idea/**

/_seed-data
/world-seed/target
/out

/discord/target
*.class

world-seed/jar/

discord/jar/

data/link/

world-seed/_seed-data/tilesets/448/

world-seed/_seed-data/tiles/448/30/

world-seed/_seed-data/tiles/448/33/

data/discord-api-key/data.json

data/secrets/
